h1{
	color: #AB7FC1;
	font-family: cursive;
}
h2{
	color: #80C17F;
	font-family: sans-serif;
}
img{
	border: 2px solid;
}
p{
	font-family: fantasy;
	font-style: large;
	color: #82A9E9;
}
H3{
	color: #C54799;
	font-family: cursive;
}
button{
	border-width: medium;
	border-color: black;
	color: white;
	font-family: cursive;
	background:	black; 
}
fieldset{
	border-width: medium;
	border-color: #F16F6F;
	width: 60%;
}	
label{
	color: #C54799;
	font-family: fantasy;
}
legend{
	color: #05A7A7;
	font-family: fantasy;
}
